extends layout

block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.bundle.min.js')
    .jumbotron
        .container.text-center
            h1 #{title}
            h6 Created by - 
                i #{createdBy}
            h6 Created at - 
                i #{createdAt}
    .container
        .row
            .col-sm-5
                .col-sm-offset-2.col-sm-8.text-center
                    h4 Select your option -
                form#votePollForm.form-horizontal
                    #firstFG.form-group
                        .col-sm-offset-2.col-sm-8
                            select#selectOptions.form-control()
                                each item,index in options
                                    option(id="option"+index value=item)
                                        =item
                                option(id='optionCustom' value='optionCustom') Enter your own
                    br
                    .form-group
                        .col-sm-8.col-sm-offset-2
                            button#btnVote.btn.btn-primary.form-control(type='submit') 
                                |  Vote!
                    if userName 
                        .form-group
                            .col-sm-8.col-sm-offset-2
                                button#btnShare.btn.btn-info.form-control(type='button') 
                                    | Share on twitter

            .col-sm-7
                canvas#myChart(style="width: 300px; height:300px")
                 
    script.
        $(document).ready(function(){

            // Handle custom option
            (function(){
                var div = $("<div id='customDiv' class='form-group'></div>");
                var div2 = $("<div class='col-sm-offset-2 col-sm-8'></div>");
                var input = $("<input type='text' id='inputCustomOption' placeholder='Enter your option' required class='form-control'></input>");
                div2.append(input);
                div.append(div2);
                // optionCustom handler
                $('#selectOptions').on('change', function(e){
                    if( $('#selectOptions option:selected').attr('id') === 'optionCustom' ){
                        $('#firstFG').after(div);
                    } else {
                        $('#customDiv').remove();
                    }
                });
            })();
            

            // Handle user vote
            $('#votePollForm').on('submit', function(e){
                e.preventDefault();

                function genData(){
                    var data = {};
                    data.pollId = '!{pollId}';
                    data.vote = $('#selectOptions option:selected').attr('id');
                    if ( $('#selectOptions option:selected').attr('id') === 'optionCustom'){
                        data.custom = true;
                        data.customOption = $('#inputCustomOption').val();        
                    } return data;
                }
                
                $.ajax({
                    url : '/processVote',
                    data : genData(),
                    ,success : function(res){
                        if ( res.success ){
                            alert('Vote successful');
                            location.reload();
                        } else {
                            alert('Vote failed. Only 1 vote per user or IP');
                        }
                    }, error : function(){
                        alert('Some error occured');
                }
                });
            });

            // Handle share on twitter
            if ('!{userName}')
                $('#btnShare').on('click', function(e){
                    var pollId = '!{pollId}';
                    var twitterShare = window.open('https://twitter.com/intent/tweet?text=Check out this awesome poll at &url=' + encodeURI('https://pollmaker.herokuapp.com/polls/' + pollId), 
                    'ShareWindow', 
                    'width=470, height=500',
                    false);  
                });
                        
            // Creates poll chart
            (function(){
                    var pollOptions = !{JSON.stringify(options)};
                    var pollVotes = !{JSON.stringify(votes)};
                    var data = {
                        labels : pollOptions,
                        datasets : [{
                            data : pollVotes,
                            backgroundColor : ['#2EC65B', '#2BBCD1', '#C4CE02'
                                 ,'#F6D5C9', '#038388', '#83C6AA'
                                 ,'#A6A779', '#BF6B0B', '#F76284'
                                 ,'#7E71FD'],
                            hoverBackgroundColor : ['#2EC65B', '#2BBCD1', '#C4CE02'
                                 ,'#F6D5C9', '#038388', '#83C6AA'
                                 ,'#A6A779', '#BF6B0B', '#F76284'
                                 ,'#7E71FD']
                        }]
                    };

                var ctx = document.getElementById("myChart").getContext("2d");
                var myChart = new Chart(ctx,{
                    type : 'pie',
                    data : data
                });
            })();

        });

